/* slectores de etiquetas */
h1 {
  color: blue;
}

/* selectores de id */
#container {
  background-color: gray;
}

/* selectores de clases */
.section-item {
  display: inline-block;
  width: 40%;
  height: 100%;
}
